<header>
  <div class="container d-flex justify-content-end" style="height: 85px;">
      <div class="col-1 logo mt-3">
      </div>
      <div class="col-10 p-3 mt-3" style="position: relative; padding-left: 5% !important;">
        <h1 class="title"> &nbsp; &nbsp; MOQ - Video Call Demonstration</h1>
      </div>
      <div class="col-auto p-3 mt-3" style="position: relative;">
          <button type="button" class="btn help" data-bs-toggle="modal" data-bs-target="#aboutModal">
              ?
          </button>
      </div>
  </div>
</header>
<div class="container" style="margin-top: 30px; min-width: 98%;">
  <!-- Relay endpoint -->
  <div class="row" style="margin-left: 20%; margin-right: 20%;">
      <div class="form-row">
        <label class="form-label" style="font-size: medium;">MOQT Relay:</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter MOQT Relay Endpoint" [(ngModel)]="wtServerUrl">
      </div>
  </div>

  <div style="display: grid; grid-template-columns: 1.3fr 2px 1fr;">
    <!-- Caller Information -->
    <div class="row" style="margin-top: 10px; margin-right: 5px;">
      <h4 class="label" style="font-size: 14pt;">Caller Information</h4>
      <div class="form-row">
        <label class="form-label">Your Namespace</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter your namespace" [(ngModel)]="meNamespace">
      </div>
      <div class="form-row">
        <label class="form-label">Your Track Name</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter your track name" [(ngModel)]="trackName">
      </div>
      <div class="form-row">
        <label class="form-label">Auth Info</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter auth information" [(ngModel)]="authInfo">
      </div>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row">
          <label class="form-label">Video Packager:</label>
          <select class="input-group-text form-select" [(ngModel)]="moqVideoQuicMapping"
            style="font-size: smaller; text-align: left; height: 35px; width: fit-content;">
            <option selected value="ObjPerStream">Object per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="TrackPerStream">Track per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="GroupPerStream">Group per stream &nbsp; &nbsp; &nbsp;</option>
          </select>
        </div>
        <div class="form-row" style="padding-left: 5px;">
          <label class="form-label">Audio Packager:</label>
          <select class="input-group-text form-select" [(ngModel)]="moqAudioQuicMapping"
            style="font-size: smaller; text-align: left; height: 35px; width: fit-content;">
            <option selected value="ObjPerStream">Object per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="TrackPerStream">Track per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="GroupPerStream">Group per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="ObjPerDatagram">Object per datagram &nbsp; &nbsp; &nbsp;</option>
          </select>
        </div>
      </div>
      <div style="margin-top: 10px;">
        <label class="form-label">Full track names to ANNOUNCE:</label>
        <div class="form-row">
          <label class="form-label">Video Track: </label>
          <input type="text" class="form-control smaller-input" placeholder="Enter your track name" [(ngModel)]="fullTrackVideoName">
        </div>
        <div class="form-row">
          <label class="form-label">Audio Track: </label>
          <input type="text" class="form-control smaller-input" placeholder="Enter your track name" [(ngModel)]="fullTrackAudioName">
        </div>
      </div>
    </div>
    <div class="vl"></div>
    <!-- Receipient List -->
    <div class="row" style="margin-top: 10px; margin-left: 3px; display: block;">
      <h4 class="label" style="font-size: 14pt;">Encoding Information</h4>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row" style="grid-template-columns: 200px 1fr">
          <label class="form-label">Max inflight video requests:</label>
          <input type="number" class="form-control smaller-input" placeholder="Enter max inflight video requests" [(ngModel)]="maxInflightVideoRequests">
        </div>
        <div class="form-row" style="margin-left: 10px; grid-template-columns: 200px 1fr">
          <label class="form-label">Max inflight audio requests:</label>
          <input type="number" class="form-control smaller-input" placeholder="Enter max inflight audio request" [(ngModel)]="maxInflightAudioRequests">
        </div>
      </div>
      <h6 class="label" style="font-size: 10pt;font-style: italic;">Video Encoding Params</h6>
      <div class="form-row">
        <label class="form-label">Input Sources:</label>
        <select class="input-group-text form-select" [(ngModel)]="videoSources"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let videoSrc of videoMediaDevices; index as i"
            [selected]="i === 0"
            [value]="videoSrc">
            {{videoSrc.label}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row">
        <label class="form-label">Resolution &#64;fps:</label>
        <select class="input-group-text form-select" [(ngModel)]="videoEncodingOptions"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let res of videoResolutions; index as i"
            selected
            [value]="res">
            {{res.width}}*{{res.height}}&#64;{{res.fps}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row">
          <label class="form-label">KeyFrame every (frames):</label>
          <input type="number" class="form-control smaller-input" placeholder="Enter key frame every frame seconds" [(ngModel)]="videoEncodingKeyFrameEvery">
        </div>
        <div class="form-row" style="padding-left: 5px;">
          <label class="form-label">Bitrate (bps):</label>
          <input type="text" class="form-control smaller-input" placeholder="Enter your namespace" [(ngModel)]="videoEncodingBitrateBps">
        </div>
      </div>
      <h6 class="label" style="font-size: 10pt; font-style: italic;">Audio Encoding Params</h6>
      <div class="form-row">
        <label class="form-label">Input Sources:</label>
        <select class="input-group-text form-select" [(ngModel)]="audioSources"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let audioSrc of audioMediaDevices; index as i"
            [selected]="i === 0"
            [value]="audioSrc">
            {{audioSrc.label}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row">
        <label class="form-label">Bitrate (bps):</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter audio bitrate" [(ngModel)]="audioEncodingBitrateBps">
      </div>
    </div>
  </div>
  <hr>
  <div style="display: grid; grid-template-columns: 150px 1fr; margin-bottom: 10px; height: 30px;">
    <label class="form-label" style="font-size: medium; padding-left: 5px;">
      <svg width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
      </svg>
      Attendees
    </label>

    <div class="form-row" style="grid-template-columns: 1fr 1fr 120px 120px;">

      <div class="form-row" style="margin-left: 10px; margin-bottom: 0px;">
        <label class="form-label">Peer Namespace:</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter peer's namespace" [(ngModel)]="peerNamespace">
      </div>
      <div class="form-row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 0px;">
        <label class="form-label" style="align-self: end;">Peer Track Name: </label>
        <input type="text" class="form-control smaller-input" placeholder="Enter peer's track name" [(ngModel)]="peerTrackName">
      </div>

      <button (click)="subscribePeer()" [disabled]= "peerNamespace.length === 0 || peerTrackName.length === 0" type="button" class="btn btn-primary" style="font-size: 12px; line-height: 1.5; border-radius: 3px; margin-right: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
          <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
        Subscribe
      </button>
      <button (click)="join()" [disabled]= "!readyToPublish" type="button" class="btn btn-success" style="font-size: 12px; line-height: 1.5; border-radius: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
          <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"/>
        </svg>
        Announce
      </button>
    </div>
  </div>
  <div class="vc-containers">
    <!-- <label *ngIf="subscriptionList.length === 0"  class="form-label" style="font-size: medium; padding-left: 5px; place-self: center;">
      <svg width="24" height="24" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"></path>
      </svg>
    </label> -->
    <app-person (readyToPublishEvent)="readyToPublish = true" [info]="{displayName: meNamespace + '/' + trackName, video: meNamespace + '/' + trackName + '-video', audio: this.meNamespace + '/' + trackName + '-audio', self: true, videoDeviceId: videoSources?.deviceId, audioDeviceId: audioSources?.deviceId }" [resolution]="videoEncodingOptions"></app-person>
    <app-person *ngFor="let info of subscriptionList" [info]="info" [resolution]="videoEncodingOptions"></app-person>
  </div>
</div>
