@import '../styles.scss';

.logo {
    background-image: url(../assets/logo/akamai-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 254px;
    height: 113px;
    position: relative;
    top: -36%;
    transform: scale(0.7);
    left: 3%;

}

.title {
    font-size: 32pt;
    font-family: "Montserrat800" !important;
    position: absolute;
    bottom: 0;
    color: $title-color;
}

.form-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    margin-bottom: 5px;
}

.form-label {
    font-size: small;
    font-family: "Montserrat600" !important;
    color: $label-color;
    align-self: end;
}

.smaller-input {
  font-size: 10pt;
}

.vl {
  border: 1px solid #C3C3C3;
}

.vc-containers {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-style: solid;
  min-height: calc(100vw/6);
}


.player-config {
  display: grid;
  padding: 5px;
  margin-bottom: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 57px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 10px;
  z-index: 2;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
