<header>
  <div class="container d-flex justify-content-end" style="height: 85px;">
      <div class="col-1 logo mt-3">
      </div>
      <div class="col-10 p-3 mt-3" style="position: relative; padding-left: 5% !important;">
        <h1 class="title"> &nbsp; &nbsp; MOQ - Video Call Demonstration</h1>
      </div>
      <div class="col-auto p-3 mt-3" style="position: relative;">
          <button type="button" class="btn help" data-bs-toggle="modal" data-bs-target="#aboutModal">
              ?
          </button>
      </div>
  </div>
</header>
<div class="container" style="margin-top: 30px; min-width: 98%;">
  <!-- Relay endpoint -->
  <div class="row" style="margin-left: 20%; margin-right: 20%;">
      <div class="form-row">
        <label class="form-label" style="font-size: medium;">MOQT Relay:</label>
        <input [disabled]= "!isAnnounce" type="text" class="form-control smaller-input" placeholder="Enter MOQT Relay Endpoint" [(ngModel)]="wtServerUrl">
      </div>
  </div>
  <div style="display: grid; grid-template-columns: 1.3fr 2px 1fr;">
    <!-- Caller Information -->
    <div class="row" style="margin-top: 10px; margin-right: 5px;">
      <h4 class="label" style="font-size: 14pt;">Caller Information</h4>
      <div class="form-row">
        <label class="form-label">Your Namespace</label>
        <input [disabled]= "!isAnnounce" type="text" class="form-control smaller-input" placeholder="Enter your namespace" [(ngModel)]="meNamespace">
      </div>
      <div class="form-row">
        <label class="form-label">Your Track Name</label>
        <input [disabled]= "!isAnnounce"  type="text" class="form-control smaller-input" placeholder="Enter your track name" [(ngModel)]="trackName">
      </div>
      <div class="form-row">
        <label class="form-label">Auth Info</label>
        <input [disabled]= "!isAnnounce" type="text" class="form-control smaller-input" placeholder="Enter auth information" [(ngModel)]="authInfo">
      </div>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row">
          <label class="form-label">Video Packager:</label>
          <select [disabled]= "!isAnnounce"  class="input-group-text form-select" [(ngModel)]="moqVideoQuicMapping"
            style="font-size: smaller; text-align: left; height: 35px; width: fit-content;">
            <option selected value="ObjPerStream">Object per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="TrackPerStream">Track per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="GroupPerStream">Group per stream &nbsp; &nbsp; &nbsp;</option>
          </select>
        </div>
        <div class="form-row" style="padding-left: 5px;">
          <label class="form-label">Audio Packager:</label>
          <select [disabled]= "!isAnnounce" class="input-group-text form-select" [(ngModel)]="moqAudioQuicMapping"
            style="font-size: smaller; text-align: left; height: 35px; width: fit-content;">
            <option selected value="ObjPerStream">Object per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="TrackPerStream">Track per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="GroupPerStream">Group per stream &nbsp; &nbsp; &nbsp;</option>
            <option value="ObjPerDatagram">Object per datagram &nbsp; &nbsp; &nbsp;</option>
          </select>
        </div>
      </div>
      <div style="margin-top: 10px;">
        <label class="form-label">Full track names to ANNOUNCE:</label>
        <div class="form-row">
          <label class="form-label">Video Track: </label>
          <input readonly type="text" class="form-control smaller-input" placeholder="Enter your track name" [ngModel]="meNamespace + '/' + trackName + '-video'">
        </div>
        <div class="form-row">
          <label class="form-label">Audio Track: </label>
          <input readonly type="text" class="form-control smaller-input" placeholder="Enter your track name" [ngModel]="meNamespace + '/' + trackName + '-audio'">
        </div>
      </div>
    </div>
    <div class="vl"></div>
    <!-- Encoder input -->
    <div class="row" style="margin-top: 10px; margin-left: 3px; display: block;">
      <h4 class="label" style="font-size: 14pt;">Encoding Information</h4>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row" style="grid-template-columns: 200px 1fr">
          <label class="form-label">Max inflight video requests:</label>
          <input [disabled]= "!isAnnounce" type="number" class="form-control smaller-input" placeholder="Enter max inflight video requests" [(ngModel)]="maxInflightVideoRequests">
        </div>
        <div class="form-row" style="margin-left: 10px; grid-template-columns: 200px 1fr">
          <label class="form-label">Max inflight audio requests:</label>
          <input [disabled]= "!isAnnounce" type="number" class="form-control smaller-input" placeholder="Enter max inflight audio request" [(ngModel)]="maxInflightAudioRequests">
        </div>
      </div>
      <h6 class="label" style="font-size: 10pt;font-style: italic;">Video Encoding Params</h6>
      <div class="form-row">
        <label class="form-label">Input Sources:</label>
        <select [disabled]= "!isAnnounce"  class="input-group-text form-select" [(ngModel)]="videoSources"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let videoSrc of videoMediaDevices; index as i"
            [ngValue]="videoSrc">
            {{videoSrc.label}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row">
        <label class="form-label">Resolution &#64;fps:</label>
        <select [disabled]= "!isAnnounce"  class="input-group-text form-select" [(ngModel)]="videoEncodingOptions"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let res of videoResolutions; index as i"
            [ngValue]="res">
            {{res.width}}*{{res.height}}&#64;{{res.fps}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row" style="grid-template-columns: 1fr 1fr;">
        <div class="form-row">
          <label class="form-label">KeyFrame every (frames):</label>
          <input [disabled]= "!isAnnounce" type="number" class="form-control smaller-input" placeholder="Enter key frame every frame seconds" [(ngModel)]="videoEncodingKeyFrameEvery">
        </div>
        <div class="form-row" style="padding-left: 5px;">
          <label class="form-label">Bitrate (bps):</label>
          <input [disabled]= "!isAnnounce" type="text" class="form-control smaller-input" placeholder="Enter your namespace" [(ngModel)]="videoEncodingBitrateBps">
        </div>
      </div>
      <h6 class="label" style="font-size: 10pt; font-style: italic;">Audio Encoding Params</h6>
      <div class="form-row">
        <label class="form-label">Input Sources:</label>
        <select [disabled]= "!isAnnounce" class="input-group-text form-select" [(ngModel)]="audioSources"
          style="font-size: smaller; text-align: left; height: 30px;">
          <option *ngFor="let audioSrc of audioMediaDevices; index as i"
            [ngValue]="audioSrc">
            {{audioSrc.label}} &nbsp; &nbsp; &nbsp;
          </option>
        </select>
      </div>
      <div class="form-row">
        <label class="form-label">Bitrate (bps):</label>
        <input [disabled]= "!isAnnounce" type="text" class="form-control smaller-input" placeholder="Enter audio bitrate" [(ngModel)]="audioEncodingBitrateBps">
      </div>
    </div>
  </div>

  <hr>
  <!-- Player input -->
  <div style="margin-top: 10px; margin-right: 5px;">
    <h4 class="label" style="font-size: 14pt;">Player Information</h4>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; margin-top: 10px; margin-right: 5px;">
      <div class="player-config">
        <label class="form-label">Min audio player buffer (ms):</label>
        <input [disabled]= "subscriptionList.length > 0" type="number" class="form-control smaller-input" placeholder="Enter player buffer ms" [(ngModel)]="playerBufferMs">
      </div>
      <div class="player-config">
        <label class="form-label">Max audio player buffer (ms):</label>
        <input [disabled]= "subscriptionList.length > 0" type="number" class="form-control smaller-input" placeholder="Enter player buffer ms" [(ngModel)]="playerMaxBufferMs">
      </div>
      <div class="player-config">
        <label class="form-label">Audio jitter buffer for this player (ms):</label>
        <input [disabled]= "subscriptionList.length > 0" type="number" class="form-control smaller-input" placeholder="Enter audio jitter buffer ms" [(ngModel)]="audioJitterBufferMs">
      </div>
      <div class="player-config">
        <label class="form-label">Video jitter buffer buffer for this player (ms):</label>
        <input [disabled]= "subscriptionList.length > 0" type="number" class="form-control smaller-input" placeholder="Enter your namespace" [(ngModel)]="videoJitterBufferMs">
      </div>
    </div>
  </div>
  <!-- Receipient List -->
  <div style="display: grid; grid-template-columns: 150px 1fr; margin-bottom: 10px; height: 30px;">
    <label class="form-label" style="font-size: medium; padding-left: 5px;">
      <svg width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
      </svg>
      Attendees
    </label>

    <div class="form-row" style="grid-template-columns: 1fr 1fr 120px 120px;">

      <div class="form-row" style="margin-left: 10px; margin-bottom: 0px;">
        <label class="form-label">Peer Namespace:</label>
        <input type="text" class="form-control smaller-input" placeholder="Enter peer's namespace" [(ngModel)]="peerNamespace">
      </div>
      <div class="form-row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 0px;">
        <label class="form-label" style="align-self: end;">Peer Track Name: </label>
        <input type="text" class="form-control smaller-input" placeholder="Enter peer's track name" [(ngModel)]="peerTrackName">
      </div>

      <button (click)="subscribePeer()" [disabled]= "peerNamespace.length === 0 || peerTrackName.length === 0" type="button" class="btn btn-primary" style="font-size: 12px; line-height: 1.5; border-radius: 3px; margin-right: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
          <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
        Subscribe
      </button>
      <button (click)="announceOrStop()" [disabled]= "!readyToPublish" type="button" [ngClass]=" isAnnounce ? 'btn btn-success': 'btn btn-danger'" style="font-size: 12px; line-height: 1.5; border-radius: 3px;">
        <svg *ngIf="isAnnounce" width="16" height="16" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
          <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"/>
        </svg>
        <svg *ngIf="!isAnnounce" width="16" height="16" fill="currentColor" class="bi bi-telephone-minus-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
        </svg>
        {{ isAnnounce ? 'Announce': 'Stop' }}
      </button>
    </div>
  </div>

  <div class="vc-containers">
    <!-- Me -->
    <app-person
        (publish)="readyToPublish = true;"
        (stats)="encoderStats($event)"
        [url]="wtServerUrl"
        [auth]="authInfo"
        [namespace]="meNamespace"
        [self]="true"
        [trackName]="trackName"
        [audioDeviceId]="audioSources?.deviceId"
        [videoDeviceId]="videoSources?.deviceId"
        [resolution]="videoEncodingOptions" #me>
    </app-person>

    <!-- Multiple subscribers -->
    <!-- <app-person *ngFor="let info of subscriptionList"
      (stats)="playerStats($event)"
      [url]="wtServerUrl"
      [auth]="authInfo"
      [namespace]="info.namespace"
      [self]="false"
      [trackName]="info.trackName"
      [playerBufferMs]="playerBufferMs"
      [playerMaxBufferMs]="playerMaxBufferMs"
      [audioJitterBufferMs]="audioJitterBufferMs"
      [videoJitterBufferMs]="videoJitterBufferMs"
      (destroy)="destroySubscriber($event)"
      ></app-person> -->
  </div>

  <div style="display: grid; grid-template-columns: 1fr 2px 1fr;">
    <!-- Caller Information -->
    <app-announce-stats #meStats>
    </app-announce-stats>
    <div class="vl"></div>
    <!-- Player stats -->
    <div style="margin-left: 5px; margin-top: 10px;">
      <h4 class="label" style="font-size: 14pt;">Player Stats</h4>
      <div style="margin-top: 10px;">
        <select #mySelect class="input-group-text form-select" [(ngModel)]="selectedSubscriberStats"
        style="font-size: smaller; text-align: left; height: 30px; margin-top: 10px;">
        <option *ngFor="let recipient of subscriberStats | keyvalue" [ngValue]="recipient.value">
          {{recipient.key}} &nbsp; &nbsp; &nbsp;
        </option>
        </select>
        <h4 class="label" style="font-size: 12pt; margin-top: 5px;">Latency</h4>
        <label class="form-label" style="font-style: italic; font-family: Arial, Helvetica, sans-serif !important">(only valid if encoder and player clocks are synchronized, or they are the same machine)</label>
        <div class="form-row-2">
          <label class="form-label">Audio latency capture to renderer (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.latencyAudioMs">
        </div>
        <div class="form-row-2">
          <label class="form-label">Video latency capture to renderer (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.latencyVideoMs">
        </div>
      </div>
      <div style="margin-top: 10px;">
        <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Receiver demuxer</h4>
        <div class="form-row-2">
          <label class="form-label">Current received audio timestamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentChunkATS">
        </div>
        <div class="form-row-2">
          <label class="form-label">Current received video timestamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentChunkVTS">
        </div>
        <div class="form-row-2">
          <label class="form-label">V-A diff (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentChunkVTS || 0) - (selectedSubscriberStats?.currentChunkATS || 0)">
        </div>
        <div class="form-row-2">
          <label class="form-label">First audio timestamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.firstChunkAts">
        </div>
        <div class="form-row-2">
          <label class="form-label">First video timestamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.firstChunkVts">
        </div>
        <div class="form-row-2">
          <label class="form-label">V-A diff (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.firstChunkVts || 0) - (selectedSubscriberStats?.firstChunkAts || 0)">
        </div>
      </div>
      <div style="margin-top: 10px;">
        <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Receiver dejitter</h4>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
        <div class="form-row-2">
          <label class="form-label">Buffer current max size (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterCurrentMaxSize">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterSize">
        </div>
        <div class="form-row-2">
          <label class="form-label">Gaps detected </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterGaps">
        </div>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
        <div class="form-row-2">
          <label class="form-label">Buffer current max size (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterCurrentMaxSize">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterSize">
        </div>
        <div class="form-row-2">
          <label class="form-label">Gaps detected </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterGaps">
        </div>
      </div>
      <div style="margin-top: 10px;">
        <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Decoders</h4>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
        <div class="form-row-2">
          <label class="form-label">Current frame timestamp compensated (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentFrameATS">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoABuffer">
        </div>
        <div class="form-row-2">
          <label class="form-label">Timestamp compensation (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoCompAOffset">
        </div>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
        <div class="form-row-2">
          <label class="form-label">Current frame timstamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentFrameVTS">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoVBuffer">
        </div>
        <div class="form-row-2">
          <label class="form-label">V-A diff (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentFrameVTS || 0)  - (selectedSubscriberStats?.currentFrameATS || 0)">
        </div>
      </div>
      <div style="margin-top: 10px;">
        <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Renderers</h4>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
        <div class="form-row-2">
          <label class="form-label">Current frame timestamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererATS">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererABuffer">
        </div>
        <div class="form-row-2">
          <label class="form-label">Total silence inserted (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererASilenceInserted">
        </div>
        <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
        <div class="form-row-2">
          <label class="form-label">Current frame timstamp (ms) </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVTS">
        </div>
        <div class="form-row-2">
          <label class="form-label">Buffer size (ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVBuffer">
        </div>
        <div class="form-row-2">
          <label class="form-label">Not printed frames </label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVDiscarded">
        </div>
        <div class="form-row-2">
          <label class="form-label">V-A diff(ms)</label>
          <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentRendererVTS || 0) - (selectedSubscriberStats?.currentRendererATS || 0)">
        </div>
      </div>
    </div>
  </div>
</div>
