<div style="margin-left: 5px; margin-top: 10px;">
  <h4 class="label" style="font-size: 14pt;display:inline-block;">Player Stats</h4>
  <button type="button" class="btn btn-outline-info btn-sm" style="float: right;" (click)="hideStats = !hideStats"> Show/Hide </button>
  <div [hidden]="hideStats">
    <div style="margin-top: 10px;" [hidden]="displayStats">
      <select #mySelect class="input-group-text form-select" (ngModelChange)="onSubsStatsSelectionChange($event)"
      style="font-size: smaller; text-align: left; height: 30px; margin-top: 10px;">
      <option *ngFor="let recipient of subscriberStats | keyvalue" [ngValue]="recipient.key">
        {{recipient.key}} &nbsp; &nbsp; &nbsp;
      </option>
      </select>
      <h4 class="label" style="font-size: 12pt; margin-top: 5px;">Latency</h4>
      <label class="form-label" style="font-style: italic; font-family: Arial, Helvetica, sans-serif !important">(only valid if encoder and player clocks are synchronized, or they are the same machine)</label>
      <div class="form-row-2">
        <label class="form-label">Audio latency capture to renderer (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.latencyAudioMs">
      </div>
      <div class="form-row-2">
        <label class="form-label">Video latency capture to renderer (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.latencyVideoMs">
      </div>
    </div>
    <div style="margin-top: 10px;">
      <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Receiver demuxer</h4>
      <div class="form-row-2">
        <label class="form-label">Current received audio timestamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentChunkATS">
      </div>
      <div class="form-row-2">
        <label class="form-label">Current received video timestamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentChunkVTS">
      </div>
      <div class="form-row-2">
        <label class="form-label">V-A diff (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentChunkVTS || 0) - (selectedSubscriberStats?.currentChunkATS || 0)">
      </div>
      <div class="form-row-2">
        <label class="form-label">First audio timestamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.firstChunkAts">
      </div>
      <div class="form-row-2">
        <label class="form-label">First video timestamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.firstChunkVts">
      </div>
      <div class="form-row-2">
        <label class="form-label">V-A diff (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.firstChunkVts || 0) - (selectedSubscriberStats?.firstChunkAts || 0)">
      </div>
    </div>
    <div style="margin-top: 10px;">
      <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Receiver dejitter</h4>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
      <div class="form-row-2">
        <label class="form-label">Buffer current max size (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterCurrentMaxSize">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterSize">
      </div>
      <div class="form-row-2">
        <label class="form-label">Gaps detected </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.audioJitterGaps">
      </div>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
      <div class="form-row-2">
        <label class="form-label">Buffer current max size (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterCurrentMaxSize">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterSize">
      </div>
      <div class="form-row-2">
        <label class="form-label">Gaps detected </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.videoJitterGaps">
      </div>
    </div>
    <div style="margin-top: 10px;">
      <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Decoders</h4>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
      <div class="form-row-2">
        <label class="form-label">Current frame timestamp compensated (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentFrameATS">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoABuffer">
      </div>
      <div class="form-row-2">
        <label class="form-label">Timestamp compensation (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoCompAOffset">
      </div>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
      <div class="form-row-2">
        <label class="form-label">Current frame timstamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentFrameVTS">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentDecoVBuffer">
      </div>
      <div class="form-row-2">
        <label class="form-label">V-A diff (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentFrameVTS || 0)  - (selectedSubscriberStats?.currentFrameATS || 0)">
      </div>
    </div>
    <div style="margin-top: 10px;">
      <h4 class="label" style="font-size: 12pt; margin-top: 10px;">Renderers</h4>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Audio</h4>
      <div class="form-row-2">
        <label class="form-label">Current frame timestamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererATS">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererABuffer">
      </div>
      <div class="form-row-2">
        <label class="form-label">Total silence inserted (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererASilenceInserted">
      </div>
      <h4 class="label" style="font-size: 12pt; margin-top: 8px;">Video</h4>
      <div class="form-row-2">
        <label class="form-label">Current frame timstamp (ms) </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVTS">
      </div>
      <div class="form-row-2">
        <label class="form-label">Buffer size (ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVBuffer">
      </div>
      <div class="form-row-2">
        <label class="form-label">Not printed frames </label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="selectedSubscriberStats?.currentRendererVDiscarded">
      </div>
      <div class="form-row-2">
        <label class="form-label">V-A diff(ms)</label>
        <input readonly type="text" class="form-control smaller-input" [ngModel]="(selectedSubscriberStats?.currentRendererVTS || 0) - (selectedSubscriberStats?.currentRendererATS || 0)">
      </div>
    </div>
  </div>
</div>
