<div class="person" *ngIf="self">
  <div  style="height: 30px;">
    <span class="name"> {{ namespace + '/' + trackName }}</span>
  </div>
  <div class="spinner-border spinner" role="status" [hidden]="videoFramePrinted"> </div>
  <video [hidden]="!videoFramePrinted" autoplay="" [muted]="self" #videoplayer></video>
</div>
<div class="person" *ngIf="!self">
  <div>
    <span class="name"> {{ namespace + '/' + trackName }}</span>
    <button type="button" class="btn btn-secondary btn-sm" (click)="stop()">
      <svg width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"></path>
      </svg>
     </button>
  </div>

  <div class="spinner-border spinner" role="status" [hidden]="videoFramePrinted"> </div>
  <canvas [hidden]="!videoFramePrinted" #videoplayer></canvas>
</div>
