.person {

  margin-bottom: 5px;
  padding: 5px;
  margin-left: 5px;
  background-color: black;
  height: 100%;
  text-align: center;

  button {
    float: right;
    margin-left: 5px;
  }

  video , canvas {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    z-index: 1000;
  }
}

.spinner {
  color: #c3c3c3;
  position: relative;
  top: 36%;
}

.name {
  font-size: 7pt;
  color: rgb(194, 194, 194);
  text-align: center;
  vertical-align: middle;
}
